@model PetaByte_KellysFeatures2.Models.Page

@{
    ViewBag.Title = "Details";
}

<div class="wrapper">
    <div id="page-content">
        <h2 class="text-center dark-blue">Details</h2>
        @Html.Raw(Model.pageContent)
    </div>
</div>
