
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-blue-bg">
    <div class="wrapper job-intro">
        <div class="col-md-12 col-sm-12 col-12">
            <h2>Team PetaByte</h2>
            <p class="white">PetaBytes is a group that was forged in the fiery temperature of Humber College’s Web Development program. Much like the process of forging metal, group members of PetaBytes took shape during the heat and developed the skills required to become strong web developers. The challenges that our team has faced together have provided us with a rounded set of skills to tackle any web development challenge, no matter the size. We are confident that we can deliver a product that benefit both you and your clients.</p>
        </div>
    </div>
</div>
<div class="wrapper row">
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>BRYAN STEPHENS</h3>
            <p>Team Leader</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>KELLY ANN MCNAMARA</h3>
            <p>Assistant Team Leader &amp; Lead Designer</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>WEI GAO</h3>
            <p>Documentation Lead</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>JESSICA SAWICZ</h3>
            <p>Web Developer &amp; Designer</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>NATHAN MANTE</h3>
            <p>Web Developer</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>MAHMUD SHAKIR</h3>
            <p>Web Developer &amp; Designer</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="gold-bg">
            <h3>AHMED SELIM</h3>
            <p>Web Developer</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">CodePen</a></p>
            <p><a href="">Website</a></p>
            <p>Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words. Words words words.</p>
        </div>
    </div>
</div>
