
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="light-blue-bg">
    <div class="wrapper job-intro">
        <div class="col-md-12 col-sm-12 col-12">
            <h2 class="large-txt">PetaBytes is a group that was forged in the fiery temperature of Humber College’s Web Development program. Much like the process of forging metal, group members of PetaBytes took shape during the heat and developed the skills required to become strong web developers.</h2>
        </div>
    </div>
</div>
<div class="wrapper job-intro">
    <div class="col-md-12 col-sm-12 col-12">
        <p>The challenges that our team has faced together have provided us with a rounded set of skills to tackle any web development challenge, no matter the size. We are confident that we can deliver a product that benefit both you and your clients.</p>
    </div>
</div>
<div class="wrapper row">
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">BRYAN STEPHENS</h3>
            <p>Team Leader</p>
            <p>
                <a href="mailto:me@bryanandrewstephens.com">me@bryanandrewstephens.com</a>
            </p>
            <p>Loves working in ASP.NET and Javascript, always looking for new ways to expand further into back-end web technologies.</p>
            <p>
                <a target="_blank" href="https://ca.linkedin.com/in/bryan-stephens-48544a111"><img src="~/Content/opt-imgs/linkedin.svg" width="18" /></a>
                <a target="_blank" href="https://github.com/stephens-bryan"><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
            </p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">KELLY MCNAMARA</h3>
            <p>Assistant Team Leader &amp; Lead Designer</p>
            <p><a href="mailto:hi@kellyannmcnamara.ca">hi@kellyannmcnamara.ca</a></p>
            <p>UX/UI Designer, front-end langue lover, intellectual freelance explorer, netflix binger and casual baker.</p>
            <p>
                <a target="_blank" href="https://ca.linkedin.com/in/kelly-ann-mcnamara-504a996b"><img src="~/Content/opt-imgs/linkedin.svg" width="18" /></a>
                <a target="_blank" href="http://codepen.io/kellyannmcnamara/"><img src="~/Content/opt-imgs/codepen.svg" width="18" /></a>
                <a target="_blank" href="https://github.com/kellyannmcnamara01/"><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
                <a target="_blank" href="http://kellyannmcnamara.ca/"><img src="~/Content/opt-imgs/link.svg" width="20" /></a>
            </p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">WEI GAO</h3>
            <p>Documentation Lead</p>
            <p><a href="mailto:wgao4000@gmail.com">wgao4000@gmail.com</a></p>
            <p>
                Words words words. Words words words. Words words words. Words words words.
                Words words words. Words words words. Words words words. Words words words.
            </p>
            <p>
                <a target="_blank" href="https://github.com/wgao12333"><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
                <a target="_blank" href="www.weizgao.com"><img src="~/Content/opt-imgs/link.svg" width="20" /></a>
            </p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">JESSICA SAWICZ</h3>
            <p>Web Developer &amp; Designer</p>
            <p><a href="mailto:">email@email.com</a></p>
            <p>
                Words words words. Words words words. Words words words. Words words words.
                Words words words. Words words words. Words words words. Words words words.
            </p>
            <p>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/linkedin.svg" width="18" /></a>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/codepen.svg" width="18" /></a>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/link.svg" width="20" /></a>
            </p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">NATHAN MANTE</h3>
            <p>Web Developer</p>
            <p><a href="mailto:">email@email.co</a></p>
            <p>
                Words words words. Words words words. Words words words. Words words words.
                Words words words. Words words words. Words words words. Words words words.
            </p>
            <p>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/linkedin.svg" width="18" /></a>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/codepen.svg" width="18" /></a>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
                <a target="_blank" href=""><img src="~/Content/opt-imgs/link.svg" width="20" /></a>
            </p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">MAHMUD SHAKIR</h3>
            <p>Web Developer &amp; Web Developer/Designer</p>
            <p><a href="mailto:">mamoodo@mamoodos.com</a></p>
            <p> Simple, clean, and straightforward are his ways
                to engage the viewer’s attention. His methodology is consistency when working with
                any project. Each project entails many layers of Awesome !.
            </p>
            <p>
                <a target="_blank" href="https://www.linkedin.com/in/mahmud-shakir-70b571b8/"><img src="~/Content/opt-imgs/linkedin.svg" width="18" /></a>
                <a target="_blank" href="https://github.com/mamoodo"><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
                <a target="_blank" href="https://mamoodos.com/blog"><img src="~/Content/opt-imgs/link.svg" width="20" /></a>
            </p>
        </div>
    </div>
    <div class="col-ms-4 col-sm-4 col-12">
        <div class="profile">
            <h3 class="light-blue">AHMED SELIM</h3>
            <p>Web Developer</p>
            <p><a href="mailto:ahmadnselim@gmail.com">ahmadnselim@gmail.com</a></p>
            <p>I'm a Front End Developer and Designer currently based in the Toronto area with more than 3 years of experience in Web Development and Design</p>
            <p>
                <a target="_blank" href="https://www.linkedin.com/in/ahmadselim/"><img src="~/Content/opt-imgs/linkedin.svg" width="18" /></a>
                <a target="_blank" href="https://github.com/selimulated"><img src="~/Content/opt-imgs/git.svg" width="20" /></a>
                <a target="_blank" href="http://ahmedselim.ca/"><img src="~/Content/opt-imgs/link.svg" width="20" /></a>
            </p>
        </div>
    </div>
</div>
